.tooltip-container {
    bottom: 2rem
}

.tooltip-container:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.tooltip-container .tooltip-content-wrap {
    position: absolute;
    bottom: 100%;
    margin-bottom: .5rem;
    display: flex;
    justify-content: center
}

.tooltip-container .tooltip-content-wrap .tooltip-content {
    white-space: nowrap;
    border-radius: .375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity));
    padding: .25rem .75rem;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: .025em;
    --tw-text-opacity: 1;
    color: rgb(243 244 246 / var(--tw-text-opacity));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.tooltip-container .tooltip-content-wrap .tooltip-content .tooltip-image {
    position: absolute;
    top: 100%;
    margin-top: -1px;
    margin-left: -.5rem;
    width: 1rem;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}

.copy-button-container {
    position: relative
}

.copy-button-container .copy-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: .375rem;
    border-width: 1px;
    border-color: transparent;
    padding: .25rem;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity))
}

.copy-button-container .copy-button:hover {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity))
}

.copy-button-container .copy-button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-inset: inset;
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(53 120 255 / var(--tw-ring-opacity))
}

.hash-label-component {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 1
}

.hash-label-component .actual-string {
    position: absolute;
    left: 0px;
    top: 0px;
    color: transparent
}

.hash-label-component .displayed-string {
    pointer-events: none;
    position: relative;
    top: 1px
}

.receipt-container {
    display: inline-block;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    overflow: hidden;
    border-radius: .5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 1.25rem 1rem 1rem;
    text-align: left;
    vertical-align: bottom;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

@media (min-width: 640px) {
    .receipt-container {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 100%;
        max-width: 24rem;
        padding: 1.5rem;
        vertical-align: middle
    }
}

.receipt-container .receipt-header-icon {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 9999px
}

.receipt-container .receipt-hash-container {
    margin-top: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}

@media (min-width: 640px) {
    .receipt-container .receipt-hash-container {
        margin-top: .5rem
    }
}

.receipt-container .receipt-hash-container .receipt-hash {
    width: 100%;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
}

.receipt-container .receipt-hash-container .copy-hash-action-button .copy-button,
.receipt-container .receipt-hash-container .hash-action-link {
    border-radius: .375rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(30 105 255 / var(--tw-border-opacity));
    padding: .125rem;
    --tw-text-opacity: 1;
    color: rgb(30 105 255 / var(--tw-text-opacity));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.receipt-container .receipt-hash-container .copy-hash-action-button .copy-button:hover,
.receipt-container .receipt-hash-container .hash-action-link:hover {
    --tw-text-opacity: 1;
    color: rgb(75 135 255 / var(--tw-text-opacity))
}

.receipt-container .receipt-hash-container .copy-hash-action-button .copy-button svg,
.receipt-container .receipt-hash-container .hash-action-link svg {
    height: 1.25rem;
    width: 1.25rem
}

.receipt-container .receipt-hash-container .copy-button {
    display: block
}

.receipt-container .receipt-hash-container .hash-action-link {
    margin-left: .5rem
}

.receipt-container .receipt-hash-container .hash-action-link:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-inset: inset;
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(53 120 255 / var(--tw-ring-opacity))
}

.receipt-container .receipt-headline-container {
    margin-top: .75rem;
    text-align: center
}

@media (min-width: 640px) {
    .receipt-container .receipt-headline-container {
        margin-top: 1.25rem
    }
}

.receipt-container .receipt-headline-container .receipt-headline {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
}

.receipt-container .receipt-buttons-container {
    margin-top: 1.25rem
}

@media (min-width: 640px) {
    .receipt-container .receipt-buttons-container {
        margin-top: 1.5rem
    }
}

.receipt-container .receipt-buttons-container .reset-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: .25rem;
    display: block;
    --tw-text-opacity: 1;
    color: rgb(30 105 255 / var(--tw-text-opacity));
    text-decoration-line: underline;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.receipt-container .receipt-buttons-container .reset-button:hover {
    --tw-text-opacity: 1;
    color: rgb(75 135 255 / var(--tw-text-opacity))
}

.custom-token {
    margin-right: .75rem;
    margin-left: .25rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 9999px;
    border-width: 2px;
    border-style: dotted;
    --tw-border-opacity: 1;
    border-color: rgb(142 180 255 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(53 120 255 / var(--tw-ring-opacity));
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #f3f4f6
}

.token-container {
    display: flex;
    align-items: center
}

.token-container .token-icon {
    margin-right: .5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 9999px
}

.token-container .token-symbol {
    font-size: .875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}

.token-container .token-name {
    font-size: .75rem;
    line-height: 1rem;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}

.token-container .custom-token-label {
    border-radius: .25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    padding-left: .25rem;
    padding-right: .25rem;
    font-size: .625rem;
    text-transform: capitalize;
    line-height: 1.5;
    --tw-text-opacity: 1;
    color: rgb(30 105 255 / var(--tw-text-opacity))
}

.option-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: .375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: .25rem .625rem;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-inset: inset;
    --tw-ring-color: rgb(55 65 81 / var(--tw-ring-opacity));
    --tw-ring-opacity: .05
}

.option-button:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.option-button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(53 120 255 / var(--tw-ring-opacity))
}

.option-button:disabled {
    cursor: not-allowed
}

.option-button:hover:disabled {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.token-balance-value {
    position: relative;
    display: inline-flex;
    align-items: center;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}

.token-balance-value .selected-custom-token {
    height: .75rem;
    width: .75rem;
    border-radius: 9999px
}

.arrow-icon-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
    font-size: .875rem;
    line-height: 1.25rem
}

.token-balance-text {
    margin-left: .375rem;
    margin-right: .375rem;
    width: -moz-max-content;
    width: max-content;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .875rem;
    line-height: 1.25rem
}

.modal-container {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 30;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #0006
}

.modal-container .modal-card {
    width: 300px;
    overflow-y: hidden;
    border-radius: .5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.modal-container .modal-card .modal-title {
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}

.modal-container .modal-card .modal-card-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem
}

.modal-container .modal-card .empty-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.modal-container .modal-card .modal-list-title {
    padding: .5rem 1rem;
    font-size: .75rem;
    line-height: 1rem;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}

.modal-container .modal-card .modal-list-label {
    font-size: .875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}

.modal-container .modal-card .modal-search-options-container {
    height: 240px;
    scroll-padding-top: .5rem;
    scroll-padding-bottom: .5rem;
    overflow-y: auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: .875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}

.modal-container .modal-card .modal-input-container {
    position: relative;
    margin-top: .25rem;
    display: flex;
    align-items: center
}

.modal-container .modal-card .modal-list-light-text {
    font-size: .75rem;
    line-height: 1rem;
    text-transform: capitalize;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}

.modal-container .modal-card .modal-list-price-error {
    font-size: .75rem;
    line-height: 1rem;
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity))
}

.modal-container .modal-card .custom-token-balance {
    display: flex;
    align-items: center;
    letter-spacing: -.05em;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}

.modal-container .modal-card .modal-list-item {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    padding: .5rem 1rem
}

.modal-container .modal-card .modal-list-item:hover {
    background-color: #0000000d
}

.modal-container .modal-card .search-icon-container {
    pointer-events: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    padding-left: .75rem
}

.modal-container .modal-card .search-input {
    display: block;
    width: 100%;
    border-radius: .375rem;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    padding-bottom: .5rem;
    padding-left: 2.5rem;
    padding-right: .5rem;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}

.modal-container .modal-card .search-input::-moz-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(156 163 175 / var(--tw-placeholder-opacity))
}

.modal-container .modal-card .search-input::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(156 163 175 / var(--tw-placeholder-opacity))
}

.modal-container .modal-card .search-input {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.modal-container .modal-card .search-input::-moz-placeholder {
    font-size: .75rem;
    line-height: 1rem
}

.modal-container .modal-card .search-input::placeholder {
    font-size: .75rem;
    line-height: 1rem
}

.modal-container .modal-card .search-input:focus {
    --tw-border-opacity: 1;
    border-color: rgb(53 120 255 / var(--tw-border-opacity));
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(53 120 255 / var(--tw-ring-opacity))
}

.modal-container .modal-card .find-token-list-item {
    padding: 1rem;
    text-align: center;
    font-size: .75rem;
    line-height: 1rem
}

.modal-container .modal-card .find-token-list-item a {
    --tw-text-opacity: 1;
    color: rgb(30 105 255 / var(--tw-text-opacity));
    text-decoration-line: underline
}

.token-balance-loading {
    display: inline-flex;
    height: 1.25rem;
    width: 1.25rem
}

@keyframes spin-051274c8 {
    to {
        transform: rotate(360deg)
    }
}

.token-balance-loading {
    animation: spin-051274c8 1s linear infinite;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}

.balance-field-wrapper {
    display: flex;
    height: 4.5rem;
    border-radius: .25rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-left: .75rem;
    padding-right: .75rem
}

@media (min-width: 640px) {
    .balance-field-wrapper {
        padding-left: .75rem;
        padding-right: 1.25rem
    }
}

.balance-field-wrapper.disabled {
    cursor: not-allowed;
    opacity: .5
}

.balance-field-wrapper.has-error {
    --tw-border-opacity: 1;
    border-color: rgb(239 68 68 / var(--tw-border-opacity));
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(239 68 68 / var(--tw-ring-opacity))
}

.balance-field-wrapper.has-error .balance-input {
    --tw-text-opacity: 1;
    color: rgb(127 29 29 / var(--tw-text-opacity))
}

.balance-field-wrapper.has-error .balance-input::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgb(252 165 165 / var(--tw-text-opacity))
}

.balance-field-wrapper.has-error .balance-input::placeholder {
    --tw-text-opacity: 1;
    color: rgb(252 165 165 / var(--tw-text-opacity))
}

.balance-field-wrapper.has-error.focused {
    --tw-border-opacity: 1;
    border-color: rgb(239 68 68 / var(--tw-border-opacity));
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(239 68 68 / var(--tw-ring-opacity))
}

.balance-field-wrapper.focused {
    --tw-border-opacity: 1;
    border-color: rgb(53 120 255 / var(--tw-border-opacity));
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-inset: inset;
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(53 120 255 / var(--tw-ring-opacity))
}

.balance-field-wrapper .error-icon {
    position: absolute;
    left: 0px;
    display: inline;
    height: 1rem;
    width: 1rem;
    --tw-translate-x: -.75rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-text-opacity: 1;
    color: rgb(248 113 113 / var(--tw-text-opacity));
    top: 1.45rem
}

.balance-field-wrapper .balance-input {
    margin-top: auto;
    width: 100%;
    border-radius: .25rem;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    padding-left: .5rem;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 1rem;
    text-align: right;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
    outline: 2px solid transparent;
    outline-offset: 2px
}

.balance-field-wrapper .balance-input::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}

.balance-field-wrapper .balance-input::placeholder {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}

.balance-field-wrapper .balance-input:focus {
    border-color: transparent;
    --tw-ring-color: transparent
}

.balance-field-wrapper .balance-input:disabled {
    opacity: .5
}

.balance-field-wrapper .balance-token-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly
}

.balance-field-wrapper .balance-token-wrapper .balance-field-label {
    white-space: nowrap;
    border-style: none;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}

@media (min-width: 640px) {
    .balance-field-wrapper .balance-token-wrapper .balance-field-label {
        font-size: .875rem;
        line-height: 1.25rem
    }
}

.balance-field-wrapper .balance-token-wrapper .balance-field-token-dropdown {
    min-width: 110px
}

.balance-field-wrapper .balance-input-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column
}

.balance-field-wrapper .token-balance-wrapper {
    position: relative;
    height: 1.5rem
}

.balance-field-wrapper .token-balance-wrapper .token-balance {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 20;
    display: flex;
    width: 100%;
    --tw-translate-y: -.125rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    justify-content: flex-end;
    padding-bottom: .375rem
}

.balance-field-wrapper .token-balance-wrapper .token-balance>.max-button {
    margin-left: .25rem;
    border-radius: .25rem;
    border-style: none;
    background-color: transparent;
    padding-left: .25rem;
    padding-right: .25rem;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: #67C22F
}

.balance-field-wrapper .token-balance-wrapper .token-balance>.max-button:focus {
    --tw-ring-inset: inset
}

.balance-field-wrapper .token-balance-wrapper .token-balance>.max-button:disabled {
    cursor: not-allowed;
    opacity: .5
}

@media (min-width: 640px) {
    .balance-field-wrapper .token-balance-wrapper .token-balance>.max-button {
        font-size: .875rem;
        line-height: 1.25rem
    }
}

.balance-field-wrapper .token-balance-wrapper .token-balance .token-balance-tooltip-value {
    max-width: 200px;
    white-space: pre-line;
    word-break: break-all
}

.balance-field-wrapper .token-balance-wrapper .token-balance .token-balance-label {
    display: none;
    padding-right: .25rem;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity))
}

@media (min-width: 640px) {
    .balance-field-wrapper .token-balance-wrapper .token-balance .token-balance-label {
        display: inline-block;
        font-size: .875rem;
        line-height: 1.25rem
    }
}

.balance-field-wrapper .token-balance-wrapper .token-balance .token-balance-value {
    position: relative;
    padding-left: .625rem;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity))
}

@media (min-width: 640px) {
    .balance-field-wrapper .token-balance-wrapper .token-balance .token-balance-value {
        font-size: .875rem;
        line-height: 1.25rem
    }
}

.balance-field-wrapper .token-balance-wrapper .token-balance .token-balance-loading {
    display: inline-flex;
    height: 1.25rem;
    width: 1.25rem
}

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

.balance-field-wrapper .token-balance-wrapper .token-balance .token-balance-loading {
    animation: spin 1s linear infinite;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}

.balance-info {
    display: grid;
    height: 4.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    justify-content: space-between;
    -moz-column-gap: .5rem;
    column-gap: .5rem;
    border-radius: .25rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-left: .75rem;
    padding-right: .75rem
}

@media (min-width: 640px) {
    .balance-info {
        padding-left: .75rem;
        padding-right: 1.25rem
    }
}

.balance-info .balance-info-title {
    white-space: nowrap;
    border-style: none;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}

@media (min-width: 640px) {
    .balance-info .balance-info-title {
        font-size: .875rem;
        line-height: 1.25rem
    }
}

.balance-info .balance-info-value-wrapper {
    display: flex;
    justify-content: flex-end
}

.balance-info .balance-info-value-wrapper .balance-info-label {
    padding-right: .25rem;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity))
}

@media (min-width: 640px) {
    .balance-info .balance-info-value-wrapper .balance-info-label {
        font-size: .875rem;
        line-height: 1.25rem
    }
}

.balance-info .balance-info-value-wrapper .balance-info-value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity))
}

@media (min-width: 640px) {
    .balance-info .balance-info-value-wrapper .balance-info-value {
        font-size: .875rem;
        line-height: 1.25rem
    }
}

.balance-info .balance-info-value-wrapper .balance-info-loading {
    display: inline-flex;
    height: 1.25rem;
    width: 1.25rem
}

@keyframes spin-739c73f8 {
    to {
        transform: rotate(360deg)
    }
}

.balance-info .balance-info-value-wrapper .balance-info-loading {
    animation: spin-739c73f8 1s linear infinite;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}

.swap-button {
    display: inline-flex;
    height: 1.25rem;
    width: 1.25rem;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.swap-button:hover {
    cursor: pointer;
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.swap-button:disabled {
    cursor: not-allowed
}

.swap-button {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.swap-button:focus {
    --tw-border-opacity: 1;
    border-color: rgb(53 120 255 / var(--tw-border-opacity));
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(53 120 255 / var(--tw-ring-opacity))
}

.swap-button .disabled-icon {
    opacity: .5
}